1.	Write a Python program to find sum of elements in list?

In [1]:
def sum(l):
    
    tot = 0

    for i in l:
        tot+=i

    return tot

In [7]:
lst = [2,35,27,4,12]
print(sum(lst))

80

2.	Write a Python program to  Multiply all numbers in the list?

In [10]:
def prod(l):
    
    result = 1
    
    for i in l:
        
        result*=i
        
    return result

In [11]:
lst1 = [2,3,5,6,4]

print(prod(lst1))

720

3.	Write a Python program to find smallest number in a list?

In [12]:
def find_sml(l):
    
    small = l[0]
    
    for i in l:
        
        if i < small:
            small = i
    return small

In [13]:
lst2 = [3,32,123,65,12,0,-3,423,-123,867]

print(find_sml(lst2))

-123

4.	Write a Python program to find largest number in a list?

In [14]:
def find_lar(l):
    
    large = l[0]
    
    for i in l:
        
        if i > large:
            large = i
            
    return large

In [15]:
lst3 = [-32,423,234,65,334,-453,24,3,543,2]

print(find_lar(lst3))

543

5.	Write a Python program to find second largest number in a list?

In [21]:
l = [34,12,65,32,8,0,-21,33]

l.sort(reverse=True)

print("second largest number is : ", l[1])

second largest number is :  34

6.	Write a Python program to find N largest elements from a list?

In [24]:
def nlarge(l,n):
    
    l.sort(reverse=True)
    
    return l[n-1]

In [25]:
# 3rd Largest Element
list1 = [34,45,2,4,23,87,98]

nlarge(list1,3)

45

In [27]:
# 5th Largest Element

list2 = [65,23,34,87,987,435,5,2,56]

nlarge(list2,5)

56

7.	Write a Python program to print even numbers in a list?

In [28]:
l = [23,45,67,32,65,87,324,6,22,64,78,32,44]

[i for i in l if i % 2 == 0]

[32, 324, 6, 22, 64, 78, 32, 44]

8.	Write a Python program to print odd numbers in a List?

In [29]:
l = [54,35,32,54,63,45,123,56,3,4]

[i for i in l if i % 2 == 1]

[35, 63, 45, 123, 3]

In [30]:
9.	Write a Python program to Remove empty List from List?

Object `List` not found.

9.	Write a Python program to Remove empty List from List

In [31]:
def rem_emp(l):
    
    l1 = []
    
    for i in l:
        if type(i) == list:
            
            if len(i) != 0:
                l1.append(i)
                
        else:
            l1.append(i)
            
    return l1

In [32]:
lis = [34,54,[],65,76,"sachin", [45,3,6,3], 54, (45,53,3), [], 32, []]

rem_emp(lis)

[34, 54, 65, 76, 'sachin', [45, 3, 6, 3], 54, (45, 53, 3), 32]

10.	Write a Python program to Cloning or Copying a list?

In [33]:
def clone(l):
    
    l1 = []
    
    for i in l:
        
        l1.append(i)
        
    print("Cloned list: ", l1)

In [34]:
list1 = [342,[45,23],5,"kumar", [], (45,5,3), 4]

clone(list1)

Cloned list:  [342, [45, 23], 5, 'kumar', [], (45, 5, 3), 4]

11.	Write a Python program to Count occurrences of an element in a list?

In [42]:
def occurrences(lst, element):
    count = 0
    for i in lst:
        if i == element:
            count += 1
            
    return count

In [43]:
l = [1,1,1, 3, 4, 1, 7, 8, 6,6,2,1]

occurrences(l,1)

5

In [44]:
occurrences(l,5)

0