1.	Write a Python program to convert kilometers to miles?

In [1]:
k=float(input("Enter distance in kilometers: "))

m = k/1.61

print("{} kilometers is equivalent to {} miles" .format(k,m))

Enter distance in kilometers: 10
10.0 kilometers is equivalent to 6.211180124223602 miles

2.	Write a Python program to convert Celsius to Fahrenheit?

In [2]:
c=float(input("Enter temperature in celsius: "))

f=(1.8*c)+32

print("{} Celsius is equivalent to {} Fahrenheit" .format(c,f))

Enter temperature in celsius: 37
37.0 Celsius is equivalent to 98.60000000000001 Fahrenheit

3.	Write a Python program to display calendar?

In [3]:
import calendar

year= int(input("Enter year: "))
month= int(input("Enter month: "))

print(calendar.month(year,month))

Enter year: 2022
Enter month: 2
   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

In [4]:
print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

4.	Write a Python program to solve quadratic equation?

In [5]:
import cmath

def quad_eq(a,b,c):
    
    d= b**2 - (4*a*c)
    
    sol1= (-b + cmath.sqrt(d))/(2*a)
    sol2= (-b - cmath.sqrt(d))/(2*a)
    
    return f"The solutions are {sol1} and {sol2}"

print("ax**2 + bx + c = 0")
a=float(input("Enter the co-eff a:"))
b=float(input("Enter the co-eff b:"))
c=float(input("Enter the constant c:"))

quad_eq(a,b,c)

ax**2 + bx + c = 0
Enter the co-eff a:2
Enter the co-eff b:3
Enter the constant c:5

'The solutions are (-0.75+1.3919410907075054j) and (-0.75-1.3919410907075054j)'

5.	Write a Python program to swap two variables without temp variable?

In [6]:
var1=int(input("Enter variable 1: "))
var2=int(input("Enter variable 2: "))

print(f"Before swapping variable 1 is {var1} and variable 2 is {var2}")

var1,var2 = var2,var1

print(f"After swapping variable 1 is {var1} and variable 2 is {var2}")

Enter variable 1: 10
Enter variable 2: 23
Before swapping variable 1 is 10 and variable 2 is 23
After swapping variable 1 is 23 and variable 2 is 10